<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InsertResultMovie">
	
	<insert id="insertResultMovie" parameterType="map">
		INSERT INTO MOVIE_INFO 
		(MV_INFO_SEQ, MV_TITLE, MV_SUB_TITLE, MV_PUB_DATE, MV_DIRECTOR, MV_ACTOR, MV_USER_RATING, MV_LINK, MV_IMAGE)
		VALUES (MOVIE_INFO_SEQ.NEXTVAL, #{resultTitle}, #{resultSubtitle}, #{resultPubDate},
		#{resultDirector}, #{resultActor}, #{resultUserRating}, #{resultLink}, #{resultImage})
	</insert>
</mapper>