<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainManage">
	
	<!-- 비주얼 이미지 관리 -->
	<insert id="createVisual">
	insert into ADMIN_VISUAL(img_num, movie_title, img_url) 
	values(#{img_num}, #{movie_title}, #{img_url})
	</insert>

	<select id="readVisual">
	select * from ADMIN_VISUAL where img_num = #{img_num}
	</select>

	<update id="updateVisual">
	update ADMIN_VISUAL set movie_title=#{movie_title}, img_url=#{img_url}
	where img_num = #{img_num}
	</update>

	<delete id="deleteVisual">
	delete from ADMIN_VISUAL where img_num = #{img_num}
	</delete>

	<select id="listAllVisual">
	<![CDATA[
	select * from ADMIN_VISUAL where img_num > 0 
	order by img_num desc
	]]>
	</select>
	
	<!-- 박스 오피스 관리 -->
</mapper>