<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieListVo">

	<select id="loadMovieList" resultType="MovieListVo">
		SELECT TITLE, MOVIE_INFO_SEQ FROM MOVIE_INFO
	</select>

	<delete id="deleteMovie" parameterType="string">
		DELETE FROM MOVIE_INFO WHERE MOVIE_INFO_SEQ =
		#{MOVIE_INFO_SEQ}
	</delete>

</mapper>