<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieVisual">

	<insert id="insertStillcut" parameterType="map">
		INSERT INTO MOVIE_VISUAL_ITEMS
		(MV_VISUAL_SEQ, MV_INFO_SEQ, MV_TITLE, MV_STILLCUT)
		VALUES
		(MOVIE_VISUAL_ITEMS_SEQ.NEXTVAL, #{MVInfoSeq}, #{MVTitle}, #{StillcutURL})
	</insert>
	
	<insert id="insertTrailer" parameterType="map">
		INSERT INTO MOVIE_VISUAL_ITEMS
		(MV_VISUAL_SEQ, MV_INFO_SEQ, MV_TITLE, MV_TRAILER)
		VALUES
		(MOVIE_VISUAL_ITEMS_SEQ.NEXTVAL, #{MVInfoSeq}, #{MVTitle}, #{trailerURL})
	</insert>
	
	<select id="loadVisualItems" resultType="MovieVisualVo">
		SELECT * FROM MOVIE_VISUAL_ITEMS WHERE MV_INFO_SEQ = #{MVInfoSeq}
	</select>

</mapper>