<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">

	<select id="searchReviewList" parameterType="string" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW WHERE MV_TITLE like '%'||#{MVTitle}||'%'
	</select>
	
	<select id="loadReviewList" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW
	</select>
	
	<delete id="deleteReview">
		DELETE FROM MOVIE_REVIEW WHERE MV_RV_SEQ = #{reviewSeq}
	</delete>

</mapper>