<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieVisual">

	<insert id="insertStillcut" parameterType="MovieVisualVo">
		INSERT INTO MOVIE_VISUAL_ITEMS
		(MV_VISUAL_SEQ, MV_INFO_SEQ, MV_STILLCUT)
		VALUES
		(MOVIE_VISUAL_ITEMS_SEQ.NEXTVAL, #{MV_INFO_SEQ}, #{MV_STILLCUT})
	</insert>
	
	<insert id="insertTrailer" parameterType="MovieVisualVo">
		INSERT INTO MOVIE_VISUAL_ITEMS
		(MV_VISUAL_SEQ, MV_INFO_SEQ, MV_TRAILER)
		VALUES
		(MOVIE_VISUAL_ITEMS_SEQ.NEXTVAL, #{MV_INFO_SEQ}, #{MV_TRAILER})
	</insert>
	
	<select id="loadVisualItems" resultType="MovieVisualVo">
		SELECT * FROM MOVIE_VISUAL_ITEMS WHERE MV_INFO_SEQ = #{numMOVIE_INFO_SEQ}
	</select>
	
	<select id="loadLastItem" resultType="MovieVisualVo">
		SELECT * FROM MOVIE_VISUAL_ITEMS WHERE MV_STILLCUT = #{MOVIE_STILLCUT}
	</select>

</mapper>