<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">

	<select id="searchTitle" parameterType="string" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW WHERE MV_TITLE like '%'||#{searchValue}||'%'
	</select>

	<select id="searchSubject" parameterType="string" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW WHERE MV_RV_TITLE like '%'||#{searchValue}||'%'
	</select>

	<select id="searchUserId" parameterType="string" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW WHERE USER_ID like '%'||#{searchValue}||'%'
	</select>

	<select id="searchContext" parameterType="string" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW WHERE MV_RV_CONTENTS like '%'||#{searchValue}||'%'
	</select>
	
	<select id="loadReviewList" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW
	</select>
	
	<select id="loadSpecificReviewList" resultType="MovieReviewVo">
		SELECT * FROM MOVIE_REVIEW WHERE MV_INFO_SEQ = #{MVInfoSeq}
	</select>
	
	<delete id="deleteReview">
		DELETE FROM MOVIE_REVIEW WHERE MV_RV_SEQ = #{reviewSeq}
	</delete>

</mapper>