<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieVisual">

	<insert id="insertStillcut" parameterType="map">
		INSERT INTO MOVIE_STILLCUT
		(MV_STILLCUT_SEQ, MV_INFO_SEQ, MV_TITLE, MV_STILLCUT)
		VALUES
		(MOVIE_STILLCUT_SEQ.NEXTVAL, #{MVInfoSeq}, #{MVTitle}, #{StillcutURL})
	</insert>
	
	<insert id="insertTrailer" parameterType="map">
		INSERT INTO MOVIE_TRAILER
		(MV_TRAILER_SEQ, MV_INFO_SEQ, MV_TITLE, MV_TRAILER, MV_DESC)
		VALUES
		(MOVIE_TRAILER_SEQ.NEXTVAL, #{MVInfoSeq}, #{MVTitle}, #{trailerURL}, #{trailerDesc})
	</insert>
	
	<select id="loadStillcut" resultType="MovieVisualVo">
		SELECT * FROM MOVIE_STILLCUT WHERE MV_INFO_SEQ = #{MVInfoSeq} 
	</select>
	
	<select id="loadTrailer" resultType="MovieVisualVo">
		SELECT * FROM MOVIE_TRAILER WHERE MV_INFO_SEQ = #{MVInfoSeq}
	</select>
	
	<delete id="deleteStillcut" parameterType="string">
		DELETE FROM MOVIE_STILLCUT WHERE MV_STILLCUT_SEQ = #{stillcutSeq}
	</delete>
	
	<delete id="deleteTrailer" parameterType="string">
		DELETE FROM MOVIE_TRAILER WHERE MV_TRAILER_SEQ = #{trailerSeq}
	</delete>

</mapper>