<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieListVo">

	<select id="loadMovieList" resultType="MovieListVo">
		SELECT * FROM MOVIE_INFO
	</select>

	<delete id="deleteMovie">
		DELETE FROM MOVIE_INFO WHERE MV_INFO_SEQ =
		#{MV_INFO_SEQ}
	</delete>
	
	<select id="loadMovieTitle" resultType="MovieListVo">
		SELECT * FROM MOVIE_INFO WHERE MV_INFO_SEQ = #{numMOVIE_INFO_SEQ}
	</select>

</mapper>